@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* background-color: #000;  */
  background-color: #222831;
  
}

/* dark mode looking scrollbar */
::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: #555;
}

::-webkit-scrollbar-thumb {
  background: #121212;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #242424;
}
